li {
  list-style: none;
}

.player-hand {
  display: flex;
}

.player-hand div {
  border-style: solid;
  border-color: black;
}

.display-card {
  width: 100px;
  height: 300px;
  border-style: solid;
  border-color: black;
}

.row {
  display: flex;
  justify-content: center;
}
