/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.border {
	border-style: solid;
	border-color: lightblue;
	border-width: thin;
}

.row {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: black;
}

.card:hover {
  position: relative;
  -webkit-animation-name: moveCardUp;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-fill-mode: forwards;
  animation-name: moveCardUp;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;

}

@-webkit-keyframes moveCardUp {
  0% {left: 0px; top: 0px;}
  100% {left: 0px; top: -50px;}
}

@keyframes moveCardUp {
  0% {left: 0px; top: 0px;}
  100% {left: 0px; top: -100px;}
}

.display-card {
  border-style: solid;
  border-color: black;
  border-width: medium;
  width: 200px;
  height: 300px;
	background-color: white;
}

.card {
	width: 200px;
	height: 250px;
	border-radius: 5px;
	margin: 0px -30px 0px -30px;
}

.deck {
	display: flex;
	justify-content: center;
	height: 252px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.field {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 252px;

}
.card-margin {
	margin: 10px 10px 10px 10px;
}
.score-board {
	width: 300px;
	height: 100px;
}
.info-board {
	width: 300px;
	height: 100px;
}
.reset {
	position: absolute;
	bottom: 0px;
}
