/*css reset*/
html, body, div, span, applet, object, iframe,
/*h1, h2, h3, h4, h5, h6,*/
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: alger;
	src: url('./fonts/ALGER.TTF');
}

body {
	background: url("images/background_2.jpg") no-repeat center;
}
h1 {
	font-family: alger;
	font-style: normal;
}
.flip {
	transform: rotate(-180deg);
}

.container {
	display: flex;
	justify-content: center;
}

.center {
	text-align: center;
	margin: auto;
}
.score-text {
	font-size: 50px;
}
.border {
	border-style: solid;
	border-color: lightblue;
	border-width: medium;;
}
.title {
	max-height: 50px;
}
.info-board {
	text-align: center;
}
.score-board {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	margin: auto;
	max-width: 325px;
}

.card {
	width: 200px;
	height: 250px;
	border-radius: 5px;
	position: relative;
	-webkit-animation-name: moveCardDown;
	-webkit-animation-duration: 1s;
	animation-name: moveCardDown;
	animation-duration: 1s;
}.margin {
	margin: 0px -65px 0px -65px;
}

.card-position {
	margin: 50px;
}

.player-header {
	text-align: center;
}

.card-info {
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	padding: 20px 20px 0 20px;
}

.round-info {
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	padding: 20px 20px 0 20px;
}

.card-animation:hover {
  position: relative;
	z-index: 1000;
  -webkit-animation-name: moveCardUp;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-fill-mode: forwards;
  animation-name: moveCardUp;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;

}

.deck {
	display: flex;
	justify-content: center;
	height: 252px;
	overflow-bottom: hidden;
}
.field {
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: stretch;
	height: 400px;
	margin: 10px 0px 20px 0;
	background-color: rgba(255, 255, 255, 0.5);
}

.field:after {
	background-color: white;
}
.card-margin {
	margin: 10px 10px 10px 10px;
}
.reset {
	position: absolute;
	bottom: 0px;
}

#desc {
	min-height: 75px;
	min-width: 375px;
	max-width: 375px;
	text-align: justify;
}

#desc p {
	text-align: justify;
	font-size: 20px;
}

/*rotate individual cards*/
.rotate-0 {
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);

}
.rotate-1 {
	-webkit-transform: rotate(-20deg);
	transform: rotate(-20deg);
	position: relative;
}
.rotate-2 {
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.rotate-3 {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.rotate-4 {
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
}
.rotate-5 {
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
}
.rotate-6 {
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}
.rotate-7 {
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
}


.card-up-0 {
	position: relative;
	top: 60px;
}
.card-up-1 {
	position: relative;
	top: 40px;
}
.card-up-2 {
	position: relative;
	top: 20px;
}
.card-up-3 {
	position: relative;
	top: 0px;
}
.card-up-4 {
	position: relative;
	top: 0px;
}
.card-up-5 {
	position: relative;
	top: 20px;
}
.card-up-6 {
	position: relative;
	top: 40px;
}
.card-up-7 {
	position: relative;
	top: 60px;
}

@-webkit-keyframes moveCardDown {
	0% {top: -50px;}
  100% {top: 0px;}
}

@keyframes moveCardDown {
	0% {top: -50px;}
  100% {top: 0px;}
}

@-webkit-keyframes moveCardUp {
  0% {top: 0px;}
  100% {top: -70px;  transform: rotate(0deg)}
}

@keyframes moveCardUp {
  0% {top: 0px;}
  100% {top: -70px;  transform: rotate(0deg)}
}
